# Dependencies
node_modules/

# Editor
.vscode/
.cursorrules
.cursor
.DS_Store

# Agent Rules
AGENT_RULES.md

#dummydata
apps/frontend/static/data/games.json

# Internal docs
GOOGLE_LOGIN_FIX.md
TOKEN_AUTH_FLOW.md