# Ollm
ollm.everydaystudio.xyz {
    handle /api/* { reverse_proxy api:8080 }
    handle { reverse_proxy frontend:5173 }
}

# Everyday-Studio
everydaystudio.xyz, www.everydaystudio.xyz {
    respond "🚀 Everyday Studio 메인 페이지 준비 중!"
}