services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - '5432:5432'

volumes:
  db_data: